.landingPage {
  background: url(../images/austin.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 100vh;
}
.landingDiv {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
/*Vertical Sliding*/
.slidingVertical {
  display: inline;
  text-indent: 8px;
}
.slidingVertical span {
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  color: turquoise;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.slidingVertical span:nth-child(2) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5) {
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}
/*topToBottom Animation*/
@-moz-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -moz-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -ms-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -ms-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.mainPage {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  display: none;
  height: 100%;
  position:relative;
}



h2 {
  font-size: 30px;
}

.fa-sm {
  margin-right: 12px;
}

.overlay {
  background-color: rgba(72, 72, 72, 0.4);
  height: 100%;
}

p > i {
  font-size: 15px;
}

#main-content {
  display: none;
  min-height: 100vh;
  padding-bottom: 100px; /* height of your footer */
}

.jumbotron {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: rgba(72, 72, 72, 0);
}

#jumbo-header {
  text-align: center;
}

.modal {
  top: 330px;
}

.dismiss {
  background-color: #336f61;
  border-color: #336f61;
}

.display-4 {
  font-weight: 500;
  color: white;
}

.lead {
  color: white;
  font-size: 30px;
}

.city-input {
  width: 30%;
  height: 40px;
  padding-left: 12px;
  border-radius: 4px;
  background-color: #636363c2;
  border: 0px solid white;
  color: white;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

::placeholder {
  color: rgba(255, 255, 255, 1);
}

#top-row {
  min-height: 300px;
}

.headline {
  text-align: center;
}

.zomato-row {
  margin-top: 30px;
}

.image-box {
  text-align: center;
  margin-bottom: 20px;
}

.image-box > p {
  margin-bottom: 0px;
}

.restaurant-title {
  font-size: 18px;
  text-decoration-line: underline;
  color: black;
  font-weight: bold;
}

.restaurant-img {
  margin-top: 6px;
}

.score-box {
  display: flex;
  justify-content: space-evenly;
}

.score-bubble {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.score-bubble > h2 {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.restaurants-section {
  margin-top: 30px;
}

.score-card {
  text-align: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
}

.green {
  background-color: green;
}

.yellow {
  background-color: #d8d814;
}

.red {
  background-color: #cc1c1c;
}

.score-titles {
  display: flex;
  justify-content: space-evenly;
}

.score-titles > p {
  width: 67px;
}

#map {
  border-radius: 5px;
  z-index: 3;
  height: 100%;
  width: 100%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  touch-action: pan-x pan-y;
}

.brewery-header {
  margin-top: 30px;
}

.brewery-title > a {
  color: black;
  text-decoration-line: underline;
}

#footer {
  text-align:center;
  position:absolute;
  width:100%;
  left: 0px;
  bottom: 1px;
  height: 50px;
  background-color: rgba(94, 96, 96, 0.6);
  color:black;
}

#footer > p {
    margin-bottom:0px;
}

#footer > p > a {
    color:black;
    text-decoration-line: underline;
}
/* Media queries */

@media only screen and (max-width: 480px) {
  .card-header > h2 {
    font-size: 18px;
  }
  .nightlife-card {
    margin-top: 30px;
  }
  .city-input {
    width: 88%;
  }
  .zomato-row {
    display: flex;
  }
  .food-score-col {
    order: 0;
  }
  .restaurants-section {
    order: 1;
  }
  .nightlife-score-col {
    order: 2;
  }
  .brewery-section {
    order: 3;
  }
  #map {
    height: 300px;
  }
  #weather {
    margin-top: 30px;
  }
}
