body {
/* i changed this disregard */
    background: url('../images/giphy.gif');
    height: 100vh;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

.container {
    margin: 0px;
}

#jumbo-header {
    text-align: center;
}

#city-input {
    width: 30%;
    height: 40px;
    padding-left: 4px;
}

#top-row {
    min-height: 300px;
}

.headline {
    text-align: center;
}

.zomato-row {
    margin-top: 30px;
}

.restaurant-img {
    width: 350px;
    height: 200px;
}

.image-box {
    text-align: center;
}

.restaurant-title {
    font-size: 18px;
}

.score-box {
    display: flex;
    justify-content: space-evenly;
}

.score-bubble {
    color: white;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.restaurants-section {
    margin-top: 30px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.score-titles {
    display: flex;
    justify-content: space-evenly;
}

.score-bubble>h2 {
    margin-top: 20px;
}

.score-titles>p {
    width: 67px;
}

#blank-img {
    height: 146.66px;
}

#map {
    z-index: 3;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    touch-action: pan-x pan-y;
}
.brewery-header{
    margin-top: 30px;
    
}


.brewery-photo {
    /*width:40rem;*/
    max-width:90%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}
.brewery-title {
    display:inline-block;
    width:100%;
}